{{#location}}
<li data-markerid="{{markerid}}">
	<div class="wepiku-item item-map">
		<div class="item item-type1">
			<div class="discount">
				{{discount}}
			</div>
			<img class="img-main" src="{{img}}" alt="">
			<div class="caption">
				<div class="shadow"></div>
				<div class="logo">
					<a href="http://www.wepiku.com/marcas/marca?m={{marcaid}}">
						<img src="{{logo}}" alt="">
					</a>
				</div>
				<h2 class="clearfix">{{name}}</h2>
			</div>
			<div class="item-date">
				<h5 class="text-center">{{date}}</h5>
			</div>
		</div>
	</div>
</li>
{{/location}}
