/*
Author: Jhon Moreno
Author URL: jhonmo09@gmail.com/
*/

@import url("reset.css");
@import url("../fonts/fonts.css");

.parallax_fixer {position: fixed; z-index: -10; width: 0; height: 0;}
.loader {width:100%; height:100%; position:fixed; top:0; right:0; bottom:0; left:0; z-index:99999; background-color:#fff;}
.loader img { width:82px; position:absolute; top:50%; left:50%; margin-top:-15px; margin-left:-41px;}



/*-----clearfix------*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;  }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/**/

body{background: #e6e9ed; font-family: 'open_sanslight';}

.landing-page .container {
  padding: 0;
  width: 100%;
}


/*--clases genéricas--*/
.left{float:left;}
.right{float:right;}
.v_center1{display:table; width:100%; height:100%;}
.v_center2{display:table-cell; vertical-align:middle;}
.main_container{width: 92%; max-width: 960px; margin: auto}
.arial{font-family: arial, helvetica, sans-serif}
.text-center{text-align: center;}
.text-right{text-align: right;}
.m-top20{margin-top: 20px}
/*-//-*/

.main_container{width: 96%; margin: auto; max-width: 960px;}

/*--header--*/
header{position: absolute; width:100%; height:50px; background:rgba(255,255,255,0.8); box-shadow:0 2px 2px rgba(0,0,0,0.2); z-index: 100}
.logo{margin-top: 10px;}
.fb_login{width: 180px; height: 30px; line-height: 30px; background: url(../img/icon_fb.png) left no-repeat #2d4486; padding-left: 30px; padding-right: 16px; color: #fff; font-size: 12px; text-align: center; border-radius: 4px; margin-top: 10px; }
.fb_login:hover {
	color: #fff;
	/*text-decoration: none;*/
}
/*--//--*/


/*--seccion de video--*/
.video_section{position: relative; width:100% }
.btn_appstore{background: url(../img/btn_appstore.png); display: block; width:189px; height: 55px; margin: auto; }
.pin_text .btn_appstore{margin-left: 0; margin-top: 20px;}
.btn_down{position: absolute; display:  block; width: 53px; height: 55px; background: url(../img/btn_down.png); bottom: 0; margin-bottom: -25px; z-index: 3; left: 50%; margin-left: -26px;}
.video_section > img{width: 100%;}
.content_main_logo{position:absolute; top: 0; left: 0; width: 100%; height: 100%; }
.content_main_logo img{max-width: 100%; width: auto; margin: auto; max-height: 100%;}
.main_video{position: absolute; width: 100%; height: 100%; top: 0; left: 0}
.video_section .btn_appstore{position: absolute; bottom: 100px; left: 50%; z-index: 3; margin-left: -95px;}

.section1{padding-top: 75px; color: #312f30}
.section1 p{margin-top: 40px; font-size: 24px;}
.section1 h2{font-size: 36px;}

.section2{margin-top: 75px; background: #039dc3; padding: 60px 0; color: #fff}
.section2 h2{font-size: 50px;}
.section2 p{font-size: 24px; padding: 0 15%; margin-top: 20px;}

.content_pin { position: relative; width: 100%; overflow: hidden;  }
.pin-frame { position: absolute; width: 100%; height: 100%; overflow: hidden; background: #e6e9ed }
.content_pin #pin2, .content_pin .section4{opacity: 0}
.pin_text{width: 50%; color: #312f30}
.section3 img{width: auto; max-width: 48%}
.section3 .pin_text{margin-top: 80px;}
.section3 .pin_text h2{font-size:84px; line-height: 1em}
.section3 .pin_text p{font-size: 24px; margin-top: 30px; max-width: 400px;}
.section4 .pin_text{width: 60%; margin-top: 10%;}
.section4 img{width: auto; max-width: 38%}
.section4 .pin_text h2{font-size:60px; line-height: 1em}
.section4 .pin_text p{font-size: 24px; margin-top: 30px; max-width: 400px;}
.section5{margin:auto;  padding-top: 70px; max-width: 800px; color: #312f30}
.section5 p{font-size: 24px; margin-bottom: 25px;}
.section5 h2{font-size: 60px; margin-top: 45px; line-height: 1em; margin-bottom: 25px; }
.final_usr_section h2{font-size: 50px; margin-top: 45px; line-height: 1em; margin-bottom: 25px; text-align: center;}
.btn_go_in{width: 100%; display: block; margin-top: 40px; height: 90px; background:url(../img/bg_btn.jpg) center no-repeat; background-size: cover; border-radius: 8px; border-top: 1px solid #9bd9e8; border-bottom: 1px solid #025167; line-height: 90px; color: #fff; font-size: 25px;  font-family: 'open_sansbold'; text-align: center; box-shadow: 0 5px 5px rgba(0,0,0,0.2)}
.gradient_bg{background: -webkit-linear-gradient(rgba(199,202,206,1), rgba(199,202,206,0)); background: -o-linear-gradient(rgba(199,202,206,1), rgba(199,202,206,0)); background: -moz-linear-gradient(rgba(199,202,206,1), rgba(199,202,206,0)); background: linear-gradient(rgba(199,202,206,1), rgba(199,202,206,0)); }
.section_marca1{padding-bottom: 100px;}
.section_marca2{padding: 120px 0}
.section_marca2 h4{font-size: 24px; color: #039cc3; font-family: 'open_sanssemibold'; margin-bottom: 10px;}
.section_marca2 h3{font-size: 24px; font-family: 'open_sanssemibold'; margin-top: 10px;}
.section4.section_marca2 .pin_text{width: 44%; margin-top: 0; display: inline-block; vertical-align: middle;}
.section4.section_marca2 img{max-width: 54%; display: inline-block; vertical-align: middle; }
.section4.section_marca2 .pin_text h2{font-size:46px;}
.pin_text img{max-width: 100%; margin-left: 10%}
.mid_img{position: relative; text-align: right;}

.mid_img .pin_text{max-width: 460px; text-align: left;}
.mid_img .pin_text img{max-width: 100%; margin-top: 15px; display: block; margin-left: 5%}
.mid_img .pin_text p{margin-top: 10px;}

.contact_section{margin-top: 60px; background: #312f30; padding: 80px 0; color: #fff; text-align: center;}
.contact_section h2{font-size: 60px;}
.contact_section p{font-size: 24px; margin-top: 20px;}
.contact_section form{margin-top: 40px;}
.col_form{width: 48%}
.col_form label{font-size: 16px; color: #d3c8ce; display: block; text-align: left; margin-bottom: 4px;}
.col_form fieldset{margin-bottom:20px; }
.input1{width: 100%; height: 60px; box-sizing:border-box; padding: 12px; border: none; border-radius: 6px; background: rgba(0,0,0,0.2); color: #d3c8ce }
.textarea1{width: 100%; height: 487px; box-sizing:border-box; padding: 12px; border: none; border-radius: 6px; background: rgba(0,0,0,0.2); color: #d3c8ce }
.col_form a{display: block; text-align: right; font-size: 16px; color: #d3c8ce; text-decoration: underline;}
.col_form.right fieldset{margin-bottom: 10px;}
.custom_select{width: 100%; height: 60px; position: relative; box-sizing:border-box; padding: 12px; border: none; border-radius: 6px; color: rgb(211, 200, 206); text-align: left; line-height: 36px; }
.custom_select select{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; appearance:none; -webkit-appearance: none; -moz-appearance: none; background: rgba(0, 0, 0, 0.2 ) url("../img/dropdown_icon.png") no-repeat scroll right;border: medium none; border-radius: 6px; box-sizing: border-box; color: #D3C8CE}
.contact_section .btn_go_in{max-width: 600px; border-left: none; border-right: none; display: block; margin: auto; margin-top: 30px; cursor: pointer;}

.final_section{margin-bottom: 120px;}
.content_footer{padding: 5px 0; background:#808184}
.content_footer img{margin: auto;}
.final_usr_section .btn_go_in{height: 82px; line-height: 82px; max-width: 400px}
.final_usr_section .pin_text p{text-align: right;}

.content_politics{
	padding-top: 120px;
}
.content_politics h1{font-size: 50px; line-height: 1em; margin-bottom: 25px; text-align: center;}
.content_politics p{text-align: justify;}

@media screen and (max-width: 768px) {
	.content_main_logo img{max-width: 60%;}
	.content_pin{height: auto;}
	.pin-frame { position: relative; width: 100%; height: 100%; overflow: hidden; }
	#pin2, .section4{opacity: 1}
}

@media screen and (max-height: 680px) {
	.section4 img{max-height: 560px;}

}

@media screen and (max-width: 600px) {
	.section1 p, .section5 p{font-size: 20px;}
	.contact_section h2, .section1 h2, .section2 h2, .section3 .pin_text h2, .section4 .pin_text h2, .section5 h2{font-size: 36px;}
	.section2 p, .contact_section p{font-size: 18px;}
	.section4 img, .section3 img, .section4.section_marca2 img{width: auto; float: none; margin: auto; max-width: 80%; margin-top: 20px; display: block;}
	.pin_text, .section4 .pin_text, .section4.section_marca2 .pin_text{width: 90%; float: none; text-align: center; margin: auto; display: block;}
	.section4{margin-top: 30px;}
	.btn_go_in{height: 70px; line-height: 70px; font-size: 18px;}
	.video_in img{height: 300px;}
	.pin_text p, .section4 .pin_text p{max-width: 100%;}
	.section_marca2{padding: 30px 0}
	.mid_img > img{margin-right: 0 !important}
	.col_form{width: 100%;}
	.textarea1{height: 300px;}
}
